{% load static i18n wagtailcore_tags bootstrap5 %} {%bootstrap_css %} {%bootstrap_javascript %}

<header class="header">
    <div class="logo">
        <div>
            <h1 style="text-decoration: none; color: #308282; font-size: 28px">
                Hostel
            </h1>
        </div>
    </div>
    <div class="header-link">
        <a>
            <input type="search" placeholder="search for hostel" class="search" style="
          background-color: white;
          border: 1px solid #f3f3f3;
          padding: 10px;
          width: 20rem;
          border-radius: 5px;
          color: #231f20;
          font-size: 16px;
        " />
        </a>
    </div>
</header>
<main class="main">

    <div class="main-text">
        <h1 class="fw-light fs-6">{% trans "Available hostels" %}</h1>
        {% for hostel in page.get_children %}
        <div class="pt-5">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-4 ">
                        <img src="{% static 'images/hostel.jpg' %}" class="img-fluid  rounded-start" alt="..." style="height: 100;" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title" style="color: #308282;"> {{ hostel.specific.name }} </h5>
                            <p class="card-text fw-light">
                                {{ hostel.specific.description }}
                            </p>
                            <p class="card-text">
                                <small class="text-body-secondary">Last updated: {{ hostel.specific.latest_revision_created_at }}</small>
                            </p>
                            <div class=" pt-5">
                                <button style="display: inline-block;
                                padding: 10px 20px;
                                margin: 10px 0;
                                border: 1px solid #d9d9d9;
                                border: none;
                                border-radius: 0px;
                                background-color: #308282;
                                color: #d9d9d9;
                                " type="button" class="btn btn-custom">read more detail</button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

</main>
<footer class="footer" role="contentinfo">
    <a class="option option-one" style="display: block;
            padding: 10px 10px 10px 34px;
            position: relative;
            text-decoration: none;" href="{% wagtail_documentation_path %}/">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path
                d="M9 21c0 .5.4 1 1 1h4c.6 0 1-.5 1-1v-1H9v1zm3-19C8.1 2 5 5.1 5 9c0 2.4 1.2 4.5 3 5.7V17c0 .5.4 1 1 1h6c.6 0 1-.5 1-1v-2.3c1.8-1.3 3-3.4 3-5.7 0-3.9-3.1-7-7-7zm2.9 11.1l-.9.6V16h-4v-2.3l-.9-.6C7.8 12.2 7 10.6 7 9c0-2.8 2.2-5 5-5s5 2.2 5 5c0 1.6-.8 3.2-2.1 4.1z" />
        </svg>
        <!-- <div>
            <h2>{% trans "Wagtail Documentation" %}</h2>
            <p>{% trans "Topics, references, & how-tos" %}</p>
        </div> -->
    </a>

    <a class="option option-three " style="cursor: pointer;">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
            <path d="M0 0h24v24H0z" fill="none" />
            <path
                d="M16.5 13c-1.2 0-3.07.34-4.5 1-1.43-.67-3.3-1-4.5-1C5.33 13 1 14.08 1 16.25V19h22v-2.75c0-2.17-4.33-3.25-6.5-3.25zm-4 4.5h-10v-1.25c0-.54 2.56-1.75 5-1.75s5 1.21 5 1.75v1.25zm9 0H14v-1.25c0-.46-.2-.86-.52-1.22.88-.3 1.96-.53 3.02-.53 2.44 0 5 1.21 5 1.75v1.25zM7.5 12c1.93 0 3.5-1.57 3.5-3.5S9.43 5 7.5 5 4 6.57 4 8.5 5.57 12 7.5 12zm0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2zm9 5.5c1.93 0 3.5-1.57 3.5-3.5S18.43 5 16.5 5 13 6.57 13 8.5s1.57 3.5 3.5 3.5zm0-5.5c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2z" />
        </svg>

        <div data-bs-toggle="modal" data-bs-target="#exampleModal" data-bs-whatever="@mdo">
            <h2 style="
            font-size: 19px;
            text-decoration: underline;
            color: #308282;
            ">{% trans "For Business" %}</h2>
            <p style="
             padding-top: 3px;
            color: #231f20;
            font-size: 15px;
            font-weight: 300;
            ">{% trans "Make your hostel visible to students" %}</p>
        </div>
        <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel" style="color: #308282;">Where is your
                            hostel?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label" style="color: #308282;">Name:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label"
                                    style="color: #308282;">Location:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="mb-3">
                                <label for="recipient-name" class="col-form-label"
                                    style="color: #308282;">Price:</label>
                                <input type="text" class="form-control" id="recipient-name">
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label"
                                    style="color: #308282;">Description:</label>
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="message-text" class="col-form-label" style="color: #308282;">Photo:</label>
                                <input class="form-control form-control-lg" id="formFileLg" type="file">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" style="background-color: #308282;">Submit your
                            hostel</button>
                    </div>
                </div>
            </div>
        </div>
    </a>
</footer>